---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Page Not Found</h1>
	<p class="mb-8">
		Uhh, nothing here. If this isn't supposed to happen hit me up on Twitter - <a
			href="https://x.com/yoimnotkesku"
			target="_blank"
			rel="noopener noreferrer"
			class="text-accent underline">@yoimnotkesku</a
		>
	</p>
</PageLayout>
