---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hiya! I'm Kesku, but you can call me Kes!</h1>
		<p class="mb-4">
			I'm a self-taught programmer, undergrad student in ML, and <a href="https://x.com/yoimnotkesku/status/1811161077037801698" target="_blank" rel="noopener noreferrer" class="text-accent">train lover</a> from the UK. I spend my time building stuff, breaking stuff, and trying to figure out how to fix the stuff I broke
		</p>
		<p class="mb-4">
			I've been coding (badly) since I was 9 (or since I was 7 if you count <a href="https://scratch.mit.edu/" target="_blank" rel="noopener noreferrer" class="text-accent">Scratch</a>). Now I'm 19, and I still suck at it!
		</p>
		<p class="mb-4">
			These days, I spend my time doing things @ <a href="https://www.perplexity.ai/" target="_blank" rel="noopener noreferrer" class="text-accent">Perplexity AI</a> where I work, and sharing my bad takes on <a href="https://x.com/yoimnotkesku" target="_blank" rel="noopener noreferrer" class="text-accent">Twitter</a>
		</p>
		<p class="mb-4">
			I only post like once a month so when I'm not ruining your feed you'll find me either on <a href="https://discord.gg/perplexity-ai" target="_blank" rel="noopener noreferrer" class="text-accent">Discord</a>, rewatching some anime, or flirting with my <a href="https://x.com/Angry_Ann_" target="_blank" rel="noopener noreferrer" class="text-accent">Girlfriend &lt;3</a>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
