---
interface Props {
  size?: number;
  class?: string;
}

const { size = 24, class: className } = Astro.props;
---

<div
  class:list={["spinner-root", className]}
  style={`width: ${size}px; height: ${size}px;`}
>
  <svg
    class="static-frame"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="M12 7.714 5.388 1.96v5.33M12 7.714H2.694v8.571h2.238M12 7.715l-6.612 5.754v8.571L12 16.286l6.612 5.754v-8.57zm0 0V23.51m0-15.796h9.306v8.571h-2.238M12 7.715l6.612-5.756v5.33M12 7.714V.49m0 7.224v8.571"
    ></path>
  </svg>

  <div class="anim-mask">
    <svg
      class="sprite-track"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1248 24"
      stroke="currentColor"
      fill="none"
      preserveAspectRatio="none"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M12 7.714 5.388 1.96v5.33M12 7.714H2.694v8.571h2.238M12 7.715l-6.612 5.754v8.571L12 16.286m0-8.572 6.612 5.755v8.571L12 16.286m0-8.572V23.51m0-15.796h9.306v8.571h-2.238M12 7.715l6.612-5.756v5.33M12 7.714V.49m0 7.224v8.572m24-8.572-6.604-5.76v5.33m6.604.43-9.305-.009v8.571l2.23.002M36 7.714l-6.618 5.748v8.571l6.608-5.739m.01-8.58-.01 6.98v8.816l.01-7.224m0-8.572 6.604 5.76v8.571L36 16.286m0-8.572 9.305.01v8.57l-2.246-.002m-7.06-8.578 6.619-5.748v5.33M36 7.714 36.01.49v5.667M36 7.714v8.572m24-8.572-6.578-5.776V7.27M60 7.714l-9.302-.036v8.571l2.206.01M60 7.713l-6.638 5.726v8.571l6.597-5.69m.04-8.607-.041 6.98v8.814L60 16.286m0-8.572 6.578 5.776v8.571L60 16.286m0-8.572 9.302.036v8.571l-2.27-.009M60 7.714l6.638-5.725v5.332M60 7.714 60.042.49v5.667M60 7.714v8.572m24-8.572L77.466 1.91v5.333M84 7.714l-9.296-.083v8.571l2.163.02M84 7.713l-6.67 5.687v8.571l6.575-5.606M84 7.714l-.098 6.98v8.811l.098-7.22m0-8.57 6.534 5.803v8.571L84 16.285m0-8.57 9.296.082v8.571l-2.31-.02M84 7.713l6.67-5.687v5.335M84 7.714 84.097.49v5.667M84 7.714v8.571m24-8.57-6.469-5.845v5.336m6.469.508-9.288-.152v8.571l2.101.034M108 7.714l-6.719 5.63v8.571l6.544-5.484M108 7.714l-.178 6.98v8.807l.178-7.215m0-8.572 6.469 5.844v8.571L108 16.286m0-8.572 9.288.152v8.571l-2.369-.039M108 7.714l6.719-5.63v5.34m-6.719.29.179-7.224v5.667M108 7.714v8.572m24-8.572-6.383-5.898v5.34m6.383.558-9.277-.244v8.571l2.019.053M132 7.714l-6.784 5.554v8.571l6.5-5.322M132 7.714l-.287 6.98v8.802l.287-7.21m0-8.572 6.383 5.898v8.571L132 16.286m0-8.572 9.277.244v8.571l-2.448-.064M132 7.715l6.784-5.555v5.345m-6.784.21.287-7.225v5.668M132 7.714v8.572m24-8.572-6.272-5.967V7.09m6.272.624-9.264-.36v8.57l1.914.075M156 7.714l-6.867 5.458v8.571l6.441-5.119m.426-8.91-.425 6.98v8.795l.425-7.203m0-8.572 6.272 5.968v8.571L156 16.286m0-8.572 9.264.361v8.571l-2.549-.099M156 7.714l6.867-5.458V7.61M156 7.714l.425-7.224v5.668M156 7.714v8.572m24-8.572-6.135-6.053v5.35m6.135.703-9.246-.507v8.571l1.785.098M180 7.714l-6.97 5.338v8.571l6.364-4.873M180 7.714l-.596 6.98v8.787l.596-7.195m0-8.572 6.135 6.053v8.571L180 16.286m0-8.572 9.246.507v8.571l-2.674-.147M180 7.715l6.97-5.339V7.74M180 7.714l.596-7.224v5.67M180 7.714v8.572m24-8.572-5.969-6.157v5.357m5.969.8-9.226-.683v8.571l1.63.121M204 7.714l-7.095 5.192v8.571l6.263-4.584M204 7.714l-.804 6.98v8.776l.804-7.184m0-8.572 5.969 6.157v8.571L204 16.286m0-8.572 9.226.683v8.571l-2.826-.208M204 7.714l7.095-5.192v5.375M204 7.714l.804-7.224v5.672M204 7.714v8.572m24-8.572-5.771-6.28V6.8m5.771.914-9.201-.894v8.571l1.447.141M228 7.714l-7.243 5.02v8.57l6.134-4.25M228 7.713l-1.051 6.98v8.764L228 16.286m0-8.572 5.771 6.281v8.571L228 16.286m0-8.572 9.201.894v8.571l-3.008-.292M228 7.714l7.243-5.019v5.39M228 7.715 229.051.49v5.676M228 7.714v8.572m24-8.572-5.538-6.426v5.377M252 7.715l-9.172-1.142v8.571l1.234.154M252 7.714l-7.418 4.815V21.1l5.969-3.874M252 7.714l-1.343 6.98v8.75L252 16.285m0-8.572 5.538 6.427v8.571L252 16.286m0-8.572 9.172 1.142v8.571l-3.222-.4M252 7.713l7.418-4.815v5.408M252 7.714 253.343.49V6.5M252 7.714v8.572m24-8.572-5.265-6.597v5.391M276 7.714l-9.138-1.43v8.57l.989.155M276 7.714l-7.623 4.576v8.571l5.758-3.457M276 7.714l-1.684 6.98v8.732l1.684-7.14m0-8.572 5.265 6.597v8.571L276 16.286m0-8.572 9.138 1.431v8.571l-3.472-.544M276 7.714l7.623-4.576v5.43M276 7.714 277.684.49V6.5M276 7.714v8.572m24-8.572L295.052.92v5.41M300 7.713l-9.098-1.768v8.571l.71.138M300 7.715l-7.861 4.298v8.571l5.491-3.003M300 7.714l-2.081 6.98v8.712l2.081-7.12m0-8.572 4.948 6.795v8.571L300 16.286m0-8.572 9.098 1.768v8.571l-3.762-.73M300 7.713l7.861-4.299v5.458M300 7.714 302.081.49v5.702M300 7.714v8.572m24-8.572L319.428.726v5.432M324 7.714l-9.025-2.154v8.571l.322.077M324 7.714l-8.118 3.968v8.571l5.184-2.534M324 7.714l-2.53 6.98v8.69l2.53-7.098m0-8.572 4.572 6.99v8.57L324 16.286m0-8.572 9.025 2.154v8.571l-4.08-.974M324 7.715l8.118-3.969V9.36M324 7.714 326.53.5v5.704M324 7.714v8.572m24-8.572-4.095-7.04V6.14M348 7.714l-8.813-2.577v8.113M348 7.714l-8.33 3.545v8.571l4.949-2.106M348 7.714l-3.007 6.98v8.663l3.007-7.07m0-8.573 4.095 7.042v8.571L348 16.287m0-8.573 8.813 2.578v8.571l-4.359-1.275M348 7.714l8.33-3.545V10M348 7.714l3.007-7.162v5.641M348 7.714v8.572m24-8.572L368.454.612V6.12M372 7.714l-8.569-3.065v7.223M372 7.714l-8.574 3.057v8.571l4.66-1.662M372 7.714l-3.556 6.98v8.632l3.556-7.04m0-8.572 3.546 7.103v8.571L372 16.286m0-8.572 8.569 3.066v8.571l-4.666-1.669M372 7.714l8.574-3.057v7.24M372 7.713l3.556-7.1v5.568M372 7.714v8.572m24-8.572L393.086.541v5.56M396 7.713l-8.288-3.627V10M396 7.714l-8.854 2.496v8.571l4.306-1.213M396 7.714l-4.188 6.98v8.597L396 16.286m0-8.572 2.914 7.173v8.571L396 16.286m0-8.572 8.288 3.627v8.571l-4.996-2.186M396 7.714l8.854-2.495v8.265M396 7.714l4.188-7.03V6.17M396 7.714v8.572m24-8.572L417.841.49V6.5M420 7.714l-7.907-4.244v5.463M420 7.714l-9.09 1.835v8.571l3.819-.77M420 7.713l-4.885 6.835v8.571L420 16.286m0-8.572 2.159 7.215v8.581L420 16.286m0-8.572 7.908 4.244v8.571l-5.436-2.917M420 7.714l9.09-1.835v8.571l-.656.132M420 7.714 424.885.88v5.412M420 7.714v8.572m24-8.572L442.768.49V6.5M444 7.714l-7.351-4.893v5.401M444 7.714l-9.183 1.047v8.571l3.14-.358M444 7.714l-5.627 6.371v8.571l5.627-6.37m0-8.572 1.232 7.184v8.612L444 16.286m0-8.572 7.351 4.893v8.571l-6.033-4.016M444 7.714l9.183-1.047v8.571l-1.315.15M444 7.714l5.627-6.37v5.372M444 7.714v8.572m24-8.572L467.832.49l.145 6.224m.023 1-6.713-5.637v5.34m6.713.297-9.289.143v8.571l2.361-.036M468 7.714l-6.478 5.84v8.57L468 16.286m0-8.572.168 7.148v8.647L468 16.286m0-8.572 6.713 5.637v8.571l-6.548-5.499M468 7.714l9.289-.143v8.571l-2.109.032M468 7.714l6.478-5.839V7.21M468 7.714v8.572m24-8.572L493.046.49V6.5M492 7.714l-5.775-6.278v5.311m5.775.967-9.202-.889v8.571l1.508.146M492 7.714l-7.24 5.023v8.571l6.137-4.258M492 7.714l-1.046 7.108v8.636L492 16.286m0-8.572 5.775 6.278v8.571L492 16.286m0-8.572 9.202.89v8.57l-3.004-.29M492 7.714l7.24-5.023v5.39M492 7.713v8.572m24-8.572L518.42.49v5.597M516 7.714 511.324.75v5.3M516 7.714l-9.064-2.057v8.571l.607.138M516 7.714l-8.064 4.061v8.571l5.244-2.64M516 7.713l-2.42 7.062v8.613l2.42-7.103m0-8.572 4.676 6.965v8.571L516 16.286m0-8.572 9.064 2.057v8.571l-4.01-.91M516 7.714l8.064-4.06v5.481M516 7.715v8.571m24-8.572L543.801.64v5.414M540 7.714 536.699.585v5.481M540 7.714l-8.46-3.283v6.07M540 7.713l-8.682 2.84v8.57l4.526-1.48M540 7.714l-3.8 7.011v8.587l3.8-7.026m0-8.572 3.302 7.13v8.571L540 16.286m0-8.572 8.461 3.283v8.571l-4.797-1.86M540 7.713l8.682-2.839v7.633M540 7.714v8.572m24-8.572 5.224-6.623v5.303M564 7.714 562.264.49v5.904M564 7.714l-7.654-4.54v5.434M564 7.714l-9.132 1.476v8.571l3.51-.567M564 7.714l-5.224 6.623v8.571L564 16.286m0-8.572 1.736 7.201v8.595L564 16.286m0-8.572 7.654 4.54v8.571l-5.725-3.396M564 7.714l9.133-1.475v8.571l-.952.154M564 7.714v8.572m24-8.572 6.612-5.755v5.33M588 7.714V.49m0 7.224-6.612-5.755v5.33m6.612.425h-9.306v8.571h2.238M588 7.715l-6.612 5.754v8.571L588 16.286m0-8.572 6.612 5.755v8.571L588 16.286m0-8.572V23.51m0-15.796h9.306v8.571h-2.238M588 7.715v8.571m24-8.572 7.654-4.54v5.434M612 7.714 613.736.49v5.995M612 7.715l-5.224-6.624v5.394M612 7.715l-9.132-1.476v8.571l.952.154m8.18-7.25-7.654 4.54v8.571l5.725-3.396M612 7.714l-1.736 7.085v8.624L612 16.286m0-8.572 5.224 6.623v8.571L612 16.286m0-8.572 9.133 1.475v8.571l-3.51-.567M612 7.714v8.572m24-8.572 8.461-3.283v6.07M636 7.713l3.302-7.13v5.527M636 7.714 632.2.64v5.49m3.8 1.584-8.682-2.839v7.633M636 7.714l-8.46 3.283v8.571l4.797-1.86M636 7.713l-3.302 7.03v8.596L636 16.286m0-8.572 3.801 7.074v8.571L636 16.286m0-8.572 8.682 2.84v8.57l-4.526-1.48M636 7.714v8.572m24-8.572 9.064-2.057v8.571l-.476.108M660 7.714 664.676.75v5.425M660 7.714 657.58.49v5.597M660 7.714l-8.064-4.06v5.481M660 7.715l-9.064 2.056v8.571l4.01-.91M660 7.714l-4.676 6.966v8.571L660 16.286m0-8.572 2.42 7.224v8.572L660 16.286m0-8.572 8.064 4.061v8.571l-5.244-2.64M660 7.713v8.572m24-8.572 9.202-.889v8.571l-1.451.14M684 7.714l5.775-6.278v5.366M684 7.714 682.954.49V6.5M684 7.714l-7.24-5.023v5.39m7.24-.367-9.202.89v8.57l3.004-.29M684 7.714l-5.775 6.278v8.571L684 16.286m0-8.572 1.046 7.178v8.618L684 16.286m0-8.572 7.24 5.023v8.571l-6.137-4.258M684 7.714v8.572m24-8.572 9.289.143v8.571l-2.361-.036M708 7.714l6.713-5.637v5.34M708 7.713l.168-7.224V6.5M708 7.714l-6.478-5.839V7.21m6.478.504-9.289-.143v8.571l2.109.032m7.18-8.46-6.713 5.637v8.571l6.548-5.499M708 7.714l-.168 7.137v8.65l.168-7.215m0-8.572 6.478 5.84v8.57L708 16.286m0-8.572v8.572m24-8.572 9.183 1.047v8.571l-3.14-.358M732 7.714l7.351-4.893v5.401M732 7.714 733.232.49v6.177M732 7.714l-5.627-6.37v5.372m5.627.998-9.183-1.047v8.571l1.315.15M732 7.714l-7.351 4.893v8.571l6.033-4.016M732 7.714l-1.232 7.102v8.633L732 16.286m0-8.572 5.627 6.371v8.571L732 16.286m0-8.572v8.572m24-8.572 9.09 1.835v8.571l-3.819-.77M756 7.713l7.908-4.244v5.463M756 7.714 758.159.49v5.6M756 7.714 751.115.88v5.412M756 7.714l-9.09-1.835v8.571l.656.132M756 7.714l-7.908 4.244v8.571l5.436-2.917M756 7.714l-2.159 7.071v8.617L756 16.286m0-8.572 4.885 6.835v8.571L756 16.286m0-8.572v8.572m24-8.572 8.854 2.495v8.571l-4.306-1.213M780 7.714l8.288-3.627V10M780 7.714l2.914-7.173v5.56M780 7.713l-4.188-7.03v5.46M780 7.714l-8.854-2.495v8.265M780 7.714l-8.288 3.627v8.571l4.996-2.186M780 7.714l-2.914 7.044v8.604L780 16.286m0-8.572 4.188 7.031v8.571L780 16.286m0-8.572v8.572m24-8.572 8.574 3.057v8.571l-4.66-1.662M804 7.714l8.569-3.066v7.223M804 7.714l3.546-7.102V6.12M804 7.714l-3.556-7.1V6.12M804 7.714l-8.574-3.056v7.24M804 7.713l-8.569 3.066v8.571l4.666-1.669M804 7.714l-3.546 7.021v8.592l3.546-7.04m0-8.573 3.556 7.101v8.571l-3.556-7.1m0-8.572v8.572m24-8.572 8.33 3.545v8.571l-4.949-2.106M828 7.714l8.813-2.578v8.113M828 7.714l4.095-7.04V6.14M828 7.714 824.993.552v5.551M828 7.714l-8.33-3.544V10M828 7.714l-8.813 2.578v8.571l4.359-1.275M828 7.714l-4.095 7v8.582l4.095-7.01m0-8.572 3.007 7.162v8.571L828 16.287m0-8.573v8.572m24-8.572 8.118 3.968v8.571l-5.184-2.534M852 7.714l9.025-2.154v8.571l-.322.077M852 7.714l4.572-6.988v5.432M852 7.714 849.47.5v5.59M852 7.713l-8.118-3.968V9.36M852 7.714l-9.025 2.154v8.571l4.08-.974M852 7.715l-4.572 6.982v8.573L852 16.286m0-8.572 2.53 7.215V23.5L852 16.286m0-8.572v8.572m24-8.572 7.861 4.3v8.57l-5.491-3.003M876 7.714l9.098-1.768v8.571l-.71.138M876 7.715l4.948-6.796v5.41M876 7.713 873.919.49v5.602M876 7.714l-7.861-4.298v5.458M876 7.714l-9.098 1.77v8.57l3.762-.73M876 7.713l-4.948 6.796v8.571L876 16.286m0-8.572 2.081 7.212v8.584L876 16.286m0-8.572v8.572m24-8.572 7.623 4.576v8.571l-5.758-3.457M900 7.714l9.138-1.43v8.57l-.989.155M900 7.714l5.265-6.597v5.391M900 7.714 898.316.49v6.018M900 7.714l-7.623-4.576v5.43M900 7.714l-9.138 1.432v8.571l3.472-.544M900 7.714l-5.265 6.597v8.571L900 16.286m0-8.572 1.684 7.2v8.596L900 16.286m0-8.572v8.572m24-8.572 7.418 4.815V21.1l-5.969-3.874M924 7.714l9.172-1.142v8.571l-1.234.154M924 7.714l5.538-6.427v5.377M924 7.714 922.657.49V6.5M924 7.714 916.582 2.9v5.408M924 7.714l-9.172 1.142v8.571l3.222-.4M924 7.713l-5.538 6.427v8.571L924 16.286m0-8.572 1.343 7.188v8.608L924 16.286m0-8.572v8.572m24-8.572 7.243 5.02v8.57l-6.134-4.25M948 7.713l9.201-.894v8.571l-1.447.141M948 7.714l5.771-6.28V6.8M948 7.714 946.949.49V6.5M948 7.714l-7.243-5.019v5.39m7.243-.37-9.201.893v8.571l3.008-.292M948 7.714l-5.771 6.281v8.571l5.771-6.28m0-8.572 1.051 7.178v8.618L948 16.286m0-8.572v8.572m24-8.572 7.095 5.192v8.571l-6.263-4.584M972 7.714l9.226-.683v8.571l-1.63.121M972 7.714l5.969-6.157v5.357m-5.969.8L971.196.49v5.634m.804 1.59-7.095-5.192v5.375M972 7.714l-9.226.683v8.571l2.826-.209m6.4-9.045-5.969 6.157v8.571L972 16.286m0-8.572.804 7.17v8.626L972 16.286m0-8.572v8.572m24-8.572 6.97 5.338v8.571l-6.364-4.873M996 7.714l9.25-.507v8.571l-1.79.098M996 7.714l6.13-6.053v5.35m-6.13.703L995.404.49v5.642M996 7.714l-6.97-5.337V7.74m6.97-.026-9.246.507v8.571l2.674-.147M996 7.715l-6.135 6.052v8.571L996 16.286m0-8.572.596 7.163v8.633L996 16.286m0-8.572v8.572m24-8.572 6.87 5.457v8.571l-6.44-5.119m-.43-8.909 9.26-.36v8.57l-1.91.075M1020 7.714l6.27-5.968V7.09m-6.27.624-.42-7.224v5.648m.42 1.576-6.87-5.457V7.61m6.87.104-9.26.361v8.571l2.55-.099m6.71-8.833-6.27 5.968v8.571l6.27-5.967m0-8.572.43 7.157v8.64l-.43-7.225m0-8.572v8.572m24-8.572 6.78 5.554v8.571l-6.5-5.322m-.28-8.803 9.28-.244v8.571l-2.02.053m-7.26-8.38 6.38-5.898v5.34m-6.38.558-.29-7.224v5.654m.29 1.57-6.78-5.554v5.345m6.78.21-9.28.243v8.571l2.45-.064m6.83-8.75-6.38 5.897v8.571l6.38-5.897m0-8.572.29 7.152v8.644l-.29-7.224m0-8.572v8.572m24-8.572 6.72 5.63v8.571l-6.55-5.484m-.17-8.717 9.29-.152v8.571l-2.1.034M1068 7.714l6.47-5.844v5.336m-6.47.508-.18-7.224v5.66m.18 1.564-6.72-5.63v5.34m6.72.29-9.29.152v8.571l2.37-.039m6.92-8.684-6.47 5.844v8.571l6.47-5.843m0-8.572.18 7.15v8.646l-.18-7.224m0-8.572v8.572m24-8.572 6.67 5.687v8.571l-6.57-5.606m-.1-8.652 9.3-.083v8.571l-2.17.02M1092 7.713l6.53-5.804v5.333m-6.53.471-.1-7.224v5.662m.1 1.562-6.67-5.686v5.335m6.67.351-9.3.083v8.571l2.31-.02m6.99-8.634-6.53 5.804v8.571l6.53-5.803m0-8.572.1 7.146v8.65l-.1-7.224m0-8.572v8.572m24-8.572 6.64 5.725v8.571l-6.6-5.69m-.04-8.606 9.3-.036v8.571l-2.2.01m-7.1-8.545 6.58-5.776V7.27m-6.58.445-.04-7.224v5.665m.04 1.56-6.64-5.726v5.332m6.64.393-9.3.036v8.571l2.27-.009m7.03-8.598-6.58 5.776v8.571l6.58-5.775m0-8.572.04 7.144v8.652l-.04-7.224m0-8.572v8.572m24-8.572 6.62 5.748v8.571l-6.61-5.739m-.01-8.58 9.31-.009v8.571l-2.23.002M1140 7.714l6.6-5.76v5.33m-6.6.43-.01-7.224v5.666m.01 1.558-6.62-5.748v5.33m6.62.418-9.3.01v8.57l2.24-.002m7.06-8.578-6.6 5.76v8.571l6.6-5.759m0-8.572.01 7.143v8.653l-.01-7.224m0-8.572v8.572m24-8.572 6.61 5.755v8.571l-6.61-5.754m0-8.572-6.61 5.755v8.571l6.61-5.754m0-8.572h9.31v8.571h-2.24m-7.07-8.57 6.61-5.756v5.33m-6.61.425V.49m0 7.224-6.61-5.755v5.33m6.61.425h-9.31v8.571h2.24m7.07-8.57V23.51m0-15.796v8.572m24-8.572 6.61 5.755v8.571l-6.61-5.754m0-8.572-6.61 5.755v8.571l6.61-5.754m0-8.572h9.31v8.571h-2.24m-7.07-8.57 6.61-5.756v5.33m-6.61.425V.49m0 7.224-6.61-5.755v5.33m6.61.425h-9.31v8.571h2.24m7.07-8.57V23.51m0-15.796v8.572m24-8.572 6.61 5.755v8.571l-6.61-5.754m0-8.572-6.61 5.755v8.571l6.61-5.754m0-8.572h9.31v8.571h-2.24m-7.07-8.57 6.61-5.756v5.33m-6.61.425V.49m0 7.224-6.61-5.755v5.33m6.61.425h-9.31v8.571h2.24m7.07-8.57V23.51m0-15.796v8.572m24-8.572 6.61 5.755v8.571l-6.61-5.754m0-8.572-6.61 5.755v8.571l6.61-5.754m0-8.572h9.31v8.571h-2.24m-7.07-8.57 6.61-5.756v5.33m-6.61.425V.49m0 7.224-6.61-5.755v5.33m6.61.425h-9.31v8.571h2.24m7.07-8.57V23.51m0-15.796v8.572m24-8.572 6.61 5.755v8.571l-6.61-5.754m0-8.572-6.61 5.755v8.571l6.61-5.754m0-8.572h9.31v8.571h-2.24m-7.07-8.57 6.61-5.756v5.33m-6.61.425V.49m0 7.224-6.61-5.755v5.33m6.61.425h-9.31v8.571h2.24m7.07-8.57V23.51m0-15.796v8.572"
      ></path>
    </svg>
  </div>
</div>

<style>
  .spinner-root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .static-frame {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.2s;
  }

  .anim-mask {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .sprite-track {
    width: 5200%;
    height: 100%;
    display: block;
    max-width: none;
    animation: sprite-play 1.5s steps(52) infinite;
    animation-play-state: paused;
  }

  @keyframes sprite-play {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  :global(.group:hover) .anim-mask {
    opacity: 1;
  }

  :global(.group:hover) .static-frame {
    opacity: 0;
  }

  :global(.group:hover) .sprite-track {
    animation-play-state: running;
  }

  .spinner-root[data-animate="true"] .anim-mask {
    opacity: 1;
  }

  .spinner-root[data-animate="true"] .static-frame {
    opacity: 0;
  }

  .spinner-root[data-animate="true"] .sprite-track {
    animation-play-state: running;
  }
</style>
